.body-oldSales{
    background-color: #fcecf9d0;
    height: 1000vh;
    width: 100%;
}

.inputsearch{
    max-width: 30%;
    /* padding: 20px */
}

.containerInput{
    padding: 20px
}

.select-product{
    position: absolute;
    top: 158px;
    left: 70%;
    transform: translate(-50%, -50%);
}

.select-product select{
    background-color: #000000d0;
    color: white;
    padding: 7px;
    width: 200px;
    border: none;
    font-size: 13px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    -webkit-appearance: button;
    appearance: button;
    outline: none;
}

.select-month{
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.select-month select{
    background-color: #000000d0;
    color: white;
    padding: 7px;
    width: 200px;
    border: none;
    font-size: 13px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    -webkit-appearance: button;
    appearance: button;
    outline: none;
}

.btn-fecha{
    margin-left: 2px;
    width:40px;
    height:35px;
    margin-top: -2px
}

.btn-refresh{
    margin-left: -1155px;
    margin-top: 23px
}

.select-condition{
    position: absolute;
    top: 150px;
    left: 30%;
    transform: translate(-50%, -50%);
}

.select-condition select{
    background-color: #000000d0;
    color: white;
    padding: 7px;
    width: 200px;
    border: none;
    font-size: 13px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    -webkit-appearance: button;
    appearance: button;
    outline: none;
}

.table-list{
    /* position: absolute; */
    /* width: 50%; */
    /* margin-top: 30px; */
    margin: 0 auto;
     /* margin-left: 2px; */
    margin-right: 80px 
}

.totalMonth{
    margin-left: -870px;
    
}

.tableIngEgr{
    width: 50%;
    margin: 0 auto;
}

.tableVentas{
    width: 50%;
    margin: 0 auto;
}

.inputDate{
    width: 200px;
    margin-top: 20px;
    /* height: 20px */
}

.divInputDate{
    width: 200px;
    margin-left: 520px;
}

.btnSearchDate{
    position: absolute;
    margin-left: 80px;
    top: 85px
}

.btnSearchSalesByProdByMonth{
    position: absolute;
    margin-left: 390px;
    top: 130px
}


