*{
    padding: 0;
    
}

.bodyfondo{
    background-color: #ffebfbf8;
    height: 90vh;
    width: 100%;
      
}

.date{
    font-family: Indie Flower;
    margin-bottom: 50px;
    margin-left: 83px;
    position: absolute;
    top: 105px;
    
   
}

.form1{
    background-color: rgba(0,0,0,.123);
    border-radius: 20px;
    display: inline-block;
    height: 40%;
    margin-left: -658px;
    margin-top: 100px;
    padding: 20px;
    width: 30%;
}

.inputSale{
    width: 250px
}
/*etiqueta[atributo="valor"]*/

.form1 input{
    background-color:rgba(0, 0, 0, 0.582);
    color: white;
}

.form1 input[name='sale']{
    background-color:rgba(0, 0, 0, 0.582);
    color: white;
}

.form1 input[name='sale']::placeholder{
    color: white
}

.form1 input[name='ing']{
    background-color:rgba(0, 0, 0, 0.582);
    color: white;
}

.form1 input[name='ing']::placeholder{
    color: white
}

.form1 input[name='egr']{
    background-color:rgba(0, 0, 0, 0.582);
    color: white;
}

.form1 input[name='egr']::placeholder{
    color: white
}

.form1 input[name='date']{
    background-color:rgba(0, 0, 0, 0.582);
    color: rgb(134, 133, 133);
}
.form1 input[name='month']{
    background-color:rgba(0, 0, 0, 0.582);
    color: rgb(134, 133, 133);
}
.form1 input[name='year']{
    background-color:rgba(0, 0, 0, 0.582);
    color: rgb(134, 133, 133);
}


.form1 select{
    background-color:rgba(0, 0, 0, 0.582)
}

.form1 select[name='condition']{
    background-color:rgba(0, 0, 0, 0.582);
    color: white;
}



.btnfinalizar{
    margin-left: 269px;
    margin-top: 10px;
   
}

.tableContainer{
    
    position: absolute;
     margin-top: -80px;
    width: 50%; 
    /* margin-right: 10px; */
    /* right: 11px; */
    top: 200px;
    left: 500px;
}

.tableTotalesContainer{
    position: relative;
    /* margin-top: 20px; */
   width: 30%; 
   /* margin-right: 10px; */
   /* right: 11px; */
   /* top: 200px; */
   margin-left: 80px;
}

.tableTotalesContainerIndiv{
    position: relative;
    /* margin-top: 20px; */
   width: 30%; 
   /* margin-right: 10px; */
   /* right: 11px; */
   top: 5px;
   margin-left: 80px;
}

.total{
    background-color: black;
    font-size: 20px;
   
}

.table{
    border-radius: 20px;
}

@font-face {
    font-family: 'Indie Flower';
    src: url('./font/IndieFlower-Regular.ttf');
}

.btnLana{
    position: relative;
    right: 203px;
    top: 157px;
}

