.table-list{
    position: relative;
    width: 80%;
    margin-top: 30px;
    /* margin-left: 2px;
    margin-right: 2px */
}

.table-bootstrap thead tr th{
    /* background-color: #00f514; */
    max-width: 30px;

}

.table-bootstrap tbody tr td{
    /* background-color: #0010f5; */
    max-width: 30px;
}

.addproduct{
    position: relative;
    margin-left: 90px;
    padding: 10px
    
    
}
