.bodyfondo{
    background-color: #fcecf9d0;
    height: 100vh;
    width: 100%; 
}

.inputSearch{
    margin-bottom: 10px
}



.table-list{
    position: relative;
    width: 90%;
    margin-top: 30px;
    left: 50px
    /* margin-left: 2px;
    margin-right: 2px */
}

.table-bootstrap thead tr th{
    /* background-color: #00f514; */
    max-width: 30px;

}

.table-bootstrap tbody tr td{
    /* background-color: #0010f5; */
    max-width: 30px;
}

.addproduct{
    position: relative;
    margin-left: -1px;
    padding: 10px;
    right: 500px
    
    
}

.btnAumento{
    position: relative;
    top:5px
    /* margin-top: 50px */
}

.inputAum{
    position: relative;
    width: 80px;
    top: 0px
    /* margin-top: 30px; */
}
