.form-save{
    margin: 0 auto;
    width: 40%;
}

.btn-warning{
    position:relative;
    top: -70px;
    padding: 2px;
    margin-right: 5px;
}

.btn-saveprod{
    position:relative;
    top: 10px
}